<h1 align="center"><b><em><%= @about.fields[:companyName] %></em></b></h1>
<div>
   <p><em> Follow us at Twitter <b><%= @about.fields[:twitter] %></b></em></p>
   <p><em> Email us for information <b><%= @about.fields[:email] %></b></em></p>
   <p><em> Call us at <b><%= @about.fields[:phone][0] %></em></b></p>
</div>