<h1><%= @eyep1.fields[:productName] %></h1>
<ul>
    <li><%= @eyep1.fields[:productDesc] %></li>
    
</ul>
<div align="center">
<img id="imgeyep1" width="20%" height="20%" src="https:<%= @eyep1_img %>"/>
</div>