<h1><%= @lenl1.fields[:productName] %></h1>
<ul>
    <li><%= @lenl1.fields[:productDesc] %></li>
    
</ul>

<div align="center">
<img id="imglenl1" width="20%" height="20%" src="https:<%= @lenl1_img %>"/>
</div>