<h1><%= @ssg1.fields[:productName] %></h1>
<ul>
    <li><em><%= @ssg1.fields[:productDesc] %></em></li>
   
</ul>
<div align="center">
<img id="imgssg1" width="20%" height="20%" src="https:<%= @ssg1_img %>"/>
</div>