<ul class="nav">
  <li><%= link_to 'Terms and Conditions',"http://www.google.com", :target => "_blank" %></li>
  <li><%= link_to 'Copyright', "http://www.google.com", :target => "_blank" %></li>
</ul>
